*{
    font-family: Georgia, 'Times New Roman', Times, serif;  
  }
  body{
  background-color: rgb(54, 59, 54);
  }
  .menu-table{
      margin-left: 20%;
      width: 60%;
      background-color: rgb(141, 141, 141);
      text-align: center;
  }
  .menu-li{
  
  }
  .menu-li a {
      text-decoration: none;
      color: rgb(255, 255, 255);
  }
  .menu-li a:hover{
      text-decoration: none;
      color: rgb(133, 133, 133);
  }
  main{
  
      
  }
  .container{
      background-color: rgb(82, 82, 82);
      width: 60%;
      margin-top:0%;
      margin-left: 20%;
  }
  .flag{
      
      border: 1px solid black;
      width: 50%;
      
      margin-left: 25%;
  }
  .countries{
      margin-top: 5%;
      margin-left: 40%;
  }