body {
    background-color: rgb(54, 59, 54);
    color: white;
    font-family: sans-serif;
    text-align: center;
    
}

img {
    width: 300px;
    height: auto;
    margin: 20px 0;
}

.menu-table {
    margin-left: 20%;
    width: 60%;
    background-color: rgb(46, 46, 46);
    text-align: center;
}

.menu-li {}

.menu-li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu-li a:hover {
    text-decoration: none;
    color: rgb(133, 133, 133);
}

input,
button {
    padding: 10px;
    margin: 5px;
}

.result {
    margin-top: 20px;
}